<!-- Preloader -->
<div id="loader">
  <!-- Preloader inner -->
  <div id="loaderInner">
    <div class="spinner"></div>
  </div>
  <!-- End preloader inner -->
</div>
<!-- End preloader-->

<!--Wrapper-->
<div id="wrapper" class="margLTop  margLBottom">

  <!--Container-->
  <div class="container">

    <div class="row ">

      <!--Left content-->

      <div class="col-md-3 nopr left-content">

        <!--Header-->
        <header id="header">

          <!--Main header-->
          <div class="main-header">

            <!--Profile image-->
            <figure class="img-profile">
              <img src="images/profile.jpg" alt=""/>
            </figure>
            <!--End profile image-->

          </div>
          <!--End main header-->

          <div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter">
            <blockquote>
              <strong>"El secreto para que las cosas ocurran es actuar"</strong>
            </blockquote>
            <credit>
              - Dante Alighieri
            </credit>

          </div>

        </header>
        <!--End  header-->

      </div>
      <!--End left content-->

      <!--Right content-->
      <div class="col-md-9 right-content">

        <!--About Tab-->
        <section id="about" class="bgWhite">

          <!--About -->
          <div class="about">

            <!--Main title-->

            <div class="main-title">
              <h1>Marketing digital para negocios locales </h1>
              <div class="divider divider-tl">
                <div class="zigzag large clearfix " data-svg-drawing="yes">
                  <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <path d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
                  </svg>
                </div>
              </div>
            </div>

            <!--End main title-->

            <!--Content-->
            <div class="content">

              <!--Block content-->
              <div class="block-content margBSmall">

                <div class=" profile margBSmall">
                  <h1>Kaleb Jiménez</h1>
                  <h3>Experto en marketing digital</h3>
                </div>

                <!--Row-->
                <div class="row ">
                  <div class="col-md-6">
                    <p>Mi pasión es hacer que tu negocio venda más con la ayuda del internet.
Soy el fundador de <a href="http://www.empujedigital.com">Empuje Digital</a>, una agencia ubicada en la Ciudad de México.
Me dedico a implementar las mejores prácticas de marketing en línea transformandolas en ventajas competitivas para tu negocio.
                    </p>
                  </div>

                  <div class="col-md-6">
                    <div class="margBSmall">
                      <p>Toda mi carrera la he hecho en el mundo digital, apoyando a empresas a lograr sus objetivos de negocio mejorando su presencia y posicionamiento en internet, he trabajado para consultoras internacionales y participado en proyectos para empresas como Santander y el Grupo Martí entre otros.
                      </p>
                    </div>
                  </div>
                </div>
                <!--End row-->


                <!--Row-->
                <div class="row">
                  <div class="col-md-12">
                    <p>
                      Si tienes un negocio local y quieres hacerlo crecer ponte en contacto conmigo y con gusto te te diré como en una consulta gratuita.
                    </p>
                  </div>
                </div>
                <!--End row-->

              </div>
              <!--End block content-->

              <!--Block content-->
              <div class="block-content">

                <div class="info">

                  <!--Row-->
                  <div class="row">

                    <div class="col-md-6">

                      <ul class="info-list clearfix">
                        <li>
                          <span class="inf">Email</span>
                          <span class="value">hola@kalebjimenez.me</span>
                        </li>
                        <li>
                          <span class="inf">Móvil</span>
                          <span class="value">
                            55 8562 4757
                          </span>
                        </li>
                      </ul>

                    </div>

                    <div class="col-md-6">

                      <ul class="info-list">
                        <li>
                          <span class="inf">Skype</span>
                          <span class="value">Kaleb_Jimenez</span>
                        </li>
                        <li>
                          <span class="inf">Teléfono</span>
                          <span class="value">
                            55 6726 9656
                          </span>
                        </li>
                      </ul>

                    </div>

                  </div>
                  <!--End row-->

                </div>

              </div>
              <!--End block content-->

            </div>
            <!--End content-->


            <!--Main title-->

            <div class="main-title">
              <h1>Ponte en contacto</h1>
              <div class="divider">
                <div class="zigzag large clearfix " data-svg-drawing="yes">
                  <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <path d="M1.357,12.26 10.807,2.81 20.328,12.332
        29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
                  </svg>
                </div>
              </div>
            </div>

            <!--End main title-->

            <!--Content-->
            <div class="content">

              <!--Block content-->
              <div class="block-content ">

                <!--Contact-->
                <div class="block-contact margBSSmall">

                  <!--Row-->
                  <div class="row">

                    <div class="col-md-12">

                      <form class="contact-form" method="post" action="send.php">

                        <!--Input columns-->
                        <div class="input-columns clearfix">

                          <div class="column1">
                            <div class="column-inner">
                              <label for="name">Nombre</label>
                              <input type="text" value="" id="name" name="name">
                            </div>
                          </div>

                          <!--Column-->
                          <div class="column2">
                            <div class="column-inner">
                              <label for="email">Email</label>
                              <input type="text" value="" id="email" name="email">
                            </div>
                          </div>
                          <!--End column-->

                        </div>
                        <!--End input columns-->
                        <label for="subject">Asunto</label>
                        <input type="text" value="" id="subject" name="subject">
                        <label for="message">Mensaje</label>
                        <textarea name="message" id="message" cols="45" rows="10"></textarea>
                        <input type="submit" value="Envía tu mensaje" class="but opc-2 submit">
                      </form>

                      <!--Contact form message-->
                      <div id="success">
                        <h2>Tu mensaje ha sido enviado, gracias.</h2>
                      </div>
                      <div id="error">
                        <h2>Lo siento tu mensaje no pudo ser enviado.</h2>
                      </div>
                      <!--End contact form message-->

                    </div>

                  </div>
                  <!--End row-->

                </div>
                <!--End contact-->

              </div>
              <!--End block content-->
              <footer>
                <div class="bgWhite ofsTSmall tCenter">
                  <p>&copy; 2016 Kaleb Jiménez.</p>
                </div>
              </footer>

            </div>
            <!--End content-->

          </div>
          <!--End about-->

        </section>
        <!--End about tab-->


      </div>
      <!--End right content-->

    </div>
    <!--End  row-->

  </div>
  <!--End  container-->

</div>
<!--End wrapper-->

<!--Javascript-->
<script src="javascripts/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="javascripts/jquery-migrate-1.2.1.js" type="text/javascript"></script>
<script src="javascripts/modernizr.js" type="text/javascript"></script>
<script src="javascripts/script.js" type="text/javascript"></script>

<!-- Google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44000159-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- End google analytics -->
